@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'kurdish';
    src: url('../rudawbold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.user-select-none {
    user-select: none !important;
}

.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../images/login.webp');
    background-size: cover;
    background-position: center;
}

.theme-dark .barcode-list div div {
    background: #fff !important;
}

.checked_input:checked {
    background: #fff !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
}

.list-group-custom {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;

}

.list-group-custom .list-group-custom-item:not(:last-child) {
    width: 100% !important;
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.list-group-custom .list-group-custom-item:last-child {
    width: 100% !important;
    height: 40px;
    padding-top: 10px;
}


:root {
    --dark: #1a1a1a;
    --light: #f5f5f5;
    --white: #fff;
}

body {
    font-family: 'kurdish', 'Roboto', sans-serif;
}

body.theme-light {
    background: var(--white) !important;
}

.box-login {
    box-shadow: rgba(17, 17, 26, 0.1) 1px 1px 0px,
        rgba(17, 17, 26, 0.1) -1px 1px 0px,
        rgba(17, 17, 26, 0.1) 1px -1px 0px ! important;
}

.form-check-input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.top-10 {
    top: 10px !important;
}

.top-15 {
    top: 15px !important;
}

.top-20 {
    top: 20px !important;
}

.top-30 {
    top: 30px !important;
}

.top-40 {
    top: 40px !important;
}

.top-50 {
    top: 50px !important;
}

.end-10 {
    right: 10px !important;
}

.end-20 {
    right: 20px !important;
}

.end-30 {
    right: 30px !important;
}

.end-40 {
    right: 40px !important;
}

.end-50 {
    right: 50px !important;
}

.start-10 {
    left: 10px !important;
}

.start-20 {
    left: 20px !important;
}

.start-30 {
    left: 30px !important;
}

.start-40 {
    left: 40px !important;
}

.start-50 {
    left: 50px !important;
}

.bottom-10 {
    bottom: 10px !important;
}

.bottom-20 {
    bottom: 20px !important;
}

.bottom-30 {
    bottom: 30px !important;
}

.bottom-40 {
    bottom: 40px !important;
}

.bottom-50 {
    bottom: 50px !important;
}

#POS-Table {
    width: 100%;
    height: 450px !important;
}

.profile-section {
    pointer-events: none !important;
}

.input-group,
.btn-close,
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited,
.form-control,
.form-control:focus,
.form-control:active,
.form-control:visited,
.form-select,
.form-select:focus,
.input-group.input-group-flat {
    outline: none !important;
    box-shadow: none !important;
}



.btn-close,
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
    border: none !important;
    margin: 0 5px !important;
}

.page-item,
.page-item.active,
.page-item.disabled,
.page-item:hover,
.page-item:focus {
    box-shadow: none !important;
    outline: none !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background: var(--dark) !important;
    border: 1px solid var(--dark) !important;
    border-radius: 5px;
}

.modal-dialog {
    transition: all 0.3s ease !important;
}

.modal-dialog .modal-content {
    border-radius: 10px !important;
    box-shadow: 5px 5px 60px rgba(0, 0, 0, .1) !important;
}

.modal {
    backdrop-filter: blur(5px) !important;
}


.reverse {
    direction: rtl !important;
}

.not-reverse {
    direction: ltr !important;
}

.active-page {
    color: #fff !important;
    background-color: #273746 !important;
    padding-top: 10px !important;
}

.btn-actions {
    border: none;
    outline: none;
    background: transparent;
    display: initial;
}

.delete-img {
    position: absolute;
    top: 10px !important;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 35px;
    color: #273746;
    font-size: 20px;
}


#offcanvas {
    position: fixed !important;
    bottom: 20px;
    z-index: 9999;
}

#offcanvas .btn {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    position: relative;
}

#offcanvas .btn span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    animation: span 1s infinite ease-in;
    /* set box-shadow of orange */
    box-shadow: 0 1px 10px 2px rgba(255, 165, 0, 0.7) !important;
}

@keyframes span {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.offcanvas {
    z-index: 9999;
}

.theme-dark .text-dark {
    color: #fff !important;
}

#offcanvas.left {
    left: 10px !important;
}

#offcanvas.right {
    right: 10px !important;
}

.stockout,
.expiry {
    height: 200px !important;
}


th {
    text-transform: capitalize !important;
}

.theme-light .page-wrapper,
.theme-light .table th .theme-light body {
    background: var(--white) !important;
}

.theme-light .table th {
    color: #273746 !important;
}

.theme-dark .table th {
    color: #FDFEFE !important;
}

.navbar.navbar-right {
    box-shadow: rgba(17, 17, 26, 0.1) -1px 1px 0px !important;
}

.navbar {
    box-shadow: rgba(17, 17, 26, 0.1) 1px 1px 0px,
        rgba(17, 17, 26, 0.1) -1px 1px 0px !important;
}

.btn:not(.btn.shadow-none),
.btn:hover:not(.btn.shadow-none) {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
}


.shadow-none {
    box-shadow: none !important;
}

.loading,
.offline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.loading {
    backdrop-filter: blur(2px);
}


.loading .loading-content .loading-icon img,
.offline .offline-content .offline-icon img {
    width: 100px;
    height: 100px;

}

.avatar-profile {
    width: 400px;
    height: 300px;
}

.avatar-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.loading .loading-content,
.offline .offline-content {
    text-align: center;
}

.loading.profile {
    backdrop-filter: blur(20px);
}

.avatar-2xl {
    width: 17.5rem !important;
}



.image-profile {
    width: 100% !important;
    height: 100% !important;
    /* height: 350px !important; */
    object-fit: cover !important;
    border-radius: 10px !important;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, .1);
}

.changeThemeBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    border: none !important;
    outline: none !important;
}

.theme-dark .changeThemeBtn {
    background: #fff !important;
}

.theme-light .changeThemeBtn {
    background: #1e293b !important;
}

.theme-light .container-fluid {
    background: #fff !important;
}

.theme-dark .container-fluid {
    background: #1e293b !important;
}

.viewUser-Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.offcanvas-seaction {
    width: 50% !important;
}

@media only screen and (max-width: 1000px) {
    .offcanvas-seaction {
        width: 100% !important;
    }

    .container-fluid {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 100 !important;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 10px !important;
        width: 100% !important;
    }

    .viewUser-Grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }


    #navbar-menu {
        position: fixed !important;
        top: 55px !important;
        left: 0;
        width: 100% !important;
        height: 0;
        overflow: scroll !important;
        z-index: 100 !important;
        padding-bottom: 70px !important;
    }

    .theme-dark #navbar-menu {
        background: #1e293b !important;
    }

    .theme-light #navbar-menu {
        background: #fff !important;
    }

    #navbar-menu.show {
        height: 100%;
        transition: all 0.5s ease !important;
        overflow-y: scroll !important;
    }
}

.table th {
    font-size: 12px !important;
}

@media only screen and (max-width: 500px) {
    .box-login {
        box-shadow: rgba(17, 17, 26, 0.1) 1px 1px 0px,
            rgba(17, 17, 26, 0.1) -1px 1px 0px !important;
    }

    .image-profile {
        width: 250px !important;
        height: 250px !important;
        border-radius: 50% !important;
    }

    .viewUser-Grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

}

.autocomplete {
    position: absolute;
    top: 100%;
    /* width: 100% !important; */
    max-height: 200px !important;
    overflow-y: scroll !important;
    z-index: 100 !important;
}

.autocomplete .autocomplete-data {
    cursor: pointer !important;
}

.theme-dark .autocomplete {
    background: #1e293b !important;
    color: #fff !important;
}

.theme-light .autocomplete {
    background: #fff !important;
    color: #000 !important;
}

.pos-table {
    width: 100%;
    max-height: 250px !important;
    overflow-y: scroll !important;
}

@media print {

    /* .d-print-none:not(*) {
        display: none !important;
    } */
    .notyf {
        display: none !important;
    }
}

.addInvoiceSeaction {
    width: 100%;
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 3px !important;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative !important;
    overflow:hidden !important;
}
.addInvoiceSeaction .invoices {
    overflow-x: scroll !important;
}
.addInvoiceSeaction .addNewInvoice {
    position: absolute !important;
    top: 10px;
    z-index: 1000;
}

.addInvoiceSeaction .addNewInvoice.right {
    right: 10px;
}

.addInvoiceSeaction .addNewInvoice.left {
    left: 10px;
}




.navbar-nav .nav-item {
    margin-top: 5px !important;
    font-size: 14px;
}

@-webkit-keyframes building-blocks {

    0%,
    20% {
        opacity: 0;
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    90%,
    100% {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
}

@keyframes building-blocks {

    0%,
    20% {
        opacity: 0;
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    90%,
    100% {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
}

.lodaing-seaction {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .2);
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
    z-index: 100000;
}

.building-blocks {
    position: relative;

}

.building-blocks div {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
}

.theme-dark .barcode div div {
    background: var(--light) !important;
}

.building-blocks div:after {
    -webkit-animation: building-blocks 2.1s ease infinite backwards;
    animation: building-blocks 2.1s ease infinite backwards;
    background: var(--dark);
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.theme-dark .building-blocks div:after {
    background: var(--light);
}

.building-blocks div:nth-child(1) {
    -webkit-transform: translate(-50%, -50%) translate(60%, 120%);
    transform: translate(-50%, -50%) translate(60%, 120%);
}

.building-blocks div:nth-child(2) {
    -webkit-transform: translate(-50%, -50%) translate(-60%, 120%);
    transform: translate(-50%, -50%) translate(-60%, 120%);
}

.building-blocks div:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) translate(120%, 0);
    transform: translate(-50%, -50%) translate(120%, 0);
}

.building-blocks div:nth-child(4) {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.building-blocks div:nth-child(5) {
    -webkit-transform: translate(-50%, -50%) translate(-120%, 0);
    transform: translate(-50%, -50%) translate(-120%, 0);
}

.building-blocks div:nth-child(6) {
    -webkit-transform: translate(-50%, -50%) translate(60%, -120%);
    transform: translate(-50%, -50%) translate(60%, -120%);
}

.building-blocks div:nth-child(7) {
    -webkit-transform: translate(-50%, -50%) translate(-60%, -120%);
    transform: translate(-50%, -50%) translate(-60%, -120%);
}

.building-blocks div:nth-child(1):after {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.building-blocks div:nth-child(2):after {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.building-blocks div:nth-child(3):after {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.building-blocks div:nth-child(4):after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.building-blocks div:nth-child(5):after {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.building-blocks div:nth-child(6):after {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.building-blocks div:nth-child(7):after {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}
